<!-- Update Project Modal -->
<div id="update-{{ project.id }}" class="modal" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title">
                    <span lang="en">Update Project</span>
                    <span lang="hu">Projekt Frissítése</span>
                </p>
                <button type="button" data-bs-dismiss="modal" class="btn-close"></button>
            </div>
            <div class="modal-body">
                <p class="lead">
                    <span lang="en">Update project: <b>{{ project.name }}</b>?</span>
                    <span lang="hu">Biztosan frissíti: <b>{{ project.name }}</b>?</span>
                </p>
                <form method="post" enctype="multipart/form-data" action="/projects/">
                    {% csrf_token %}
                    <input type="hidden" name="type" value="update">
                    <input type="hidden" name="id" value="{{ project.id }}">
                    <div class="input-group">
                        <input type="file" accept=".gwp" name="file" class="form-control">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-secondary">
                                <span lang="en">Update</span>
                                <span lang="hu">Frissítés</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>